﻿/* reshenie 1 */
#popup {
display: table;
position: fixed; top: 0; left: 0;
z-index: 100;
height: 100%;
width: 100%;
background: #f0f8ff;
visibility: hidden;
animation: popups 1s 1s forwards;
-webkit-animation: popups 1s 1s forwards;
-ms-animation: popups 1s 1s forwards;
-o-animation: popups 1s 1s forwards;
cursor: pointer;
}
@keyframes popups {   
from {visibility: hidden;}  
to {visibility: visible;} 
}
@-webkit-keyframes popups {   
from {visibility: hidden;}  
to {visibility: visible;} 
}
@-ms-keyframes popups {   
from {visibility: hidden;}  
to {visibility: visible;} 
}
@-o-keyframes popups {   
from {visibility: hidden;}  
to {visibility: visible;} 
}
.popup__window {
display: table-cell;
vertical-align: middle;
}
.window-text, .window-header, .popup__window:before {
max-width: 50%;
margin: auto;
border-style: solid; 
border-color: #eb5055;
background: #fff;
}
.popup__window:before { 
content: "закрыть";
display: block;
padding: 0 1%;
border-width: 4px 4px 0 4px;
border-radius: 5px 5px 0 0;
text-align: right;
color: black;
}
.window-text, .window-header {
padding: 1%;
cursor: default;
}
.window-header {
position: relative;
border-width: 0 4px 0 4px;
font-size: 150%;
text-transform: uppercase;
color: #666d89;
}
.window-text {
color: #767e9e;
border-width: 0 4px 4px 4px;
border-radius: 0 0 5px 5px;
}
/*end reshenie 1*/

/*reshenie 2*/
.overlay {
background-color: rgba(0, 0, 0, 0.7);
bottom: 0;
cursor: default;
left: 0;
opacity: 0;
position: fixed;
right: 0;
top: 0;
visibility: hidden;
z-index: 1;
-webkit-transition: opacity .5s;
-moz-transition: opacity .5s;
-ms-transition: opacity .5s;
-o-transition: opacity .5s;
transition: opacity .5s;
}
.overlay:target {
visibility: visible;
opacity: 1;
}

.is-image {
width: 100%;
display: inline-block;
height: auto;
margin: auto;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
top: 0; left: 0; bottom: 0; right: 0;
}
embed, iframe {
width: 100%;
min-width: 20px;
max-width: 600px;
margin: auto;
top: 0; left: 0; bottom: 0; right: 0;
}

.popup { 
min-width: 20%;
max-width: 50%;
width: 50%;
margin: auto;
background-color: #fff;
border: 3px solid #fff;
display: block;
left: 0; right: 0;
opacity: 0;
padding: 15px;
position: fixed;
font-size: 14px;
top: 0;
visibility: hidden;
z-index: 10;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
-ms-border-radius: 10px;
-o-border-radius: 10px;
border-radius: 10px;
-webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
-moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
-ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
-o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
-webkit-transition: opacity .5s, top .5s;
-moz-transition: opacity .5s, top .5s;
-ms-transition: opacity .5s, top .5s;
-o-transition: opacity .5s, top .5s;
transition: opacity .5s, top .5s;
}

.overlay:target+.popup {
top: 50%;
opacity: 1;
visibility: visible;
}

.close {
background-color: rgba(0, 0, 0, 0.8);
border: 2px solid #ccc;
height: 24px;
line-height: 24px;
position: absolute;
right: -13px;
font-weight: bold;
text-align: center;
text-decoration: none;padding: 0;
top: -15px;
width: 24px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
-ms-border-radius: 15px;
-o-border-radius: 15px;
border-radius: 15px;
-moz-box-shadow: 1px 1px 3px #000;
-webkit-box-shadow: 1px 1px 3px #000;
box-shadow: 1px 1px 3px #000;
}
.close:before {
color: rgba(255, 255, 255, 0.9);
content: "X";
font-size: 14px;
text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}
.close:hover {
background-color: rgba(64, 128, 128, 0.8);
}
.popup p, .popup div {
margin-bottom: 10px;
}
/*end reshenie 2*/

/*reshenie 3*/
element.style {
    height: auto;
    padding: 15px;
    width: auto;
}
.fancybox-opened .fancybox-skin {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.fancybox-skin {
    background: none repeat scroll 0 0 #f9f9f9;
    border-radius: 4px;
    color: #444;
    position: relative;
    text-shadow: none;
}
/*end reshenie 3*/

