.equalizer-wrapper {
    float:left; margin: 0 20px 20px 0;
}
.equalizer {
    overflow: hidden;
    border:1px solid #ddd;
}
.equalizer.small {
    width: 100px;
    height: 100px;
}
.equalizer.normal {
    width: 200px;
    height: 200px;
}
.equalizer.big {
    width: 300px;
    height: 300px;
} 